<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.data.localdb>
      <localdbinstances>
        <add name="DocuVault" version="12.0"/>
      </localdbinstances>
    </system.data.localdb>
    <connectionStrings>
        <add name="DocuVault.GUI.Properties.Settings.DMSConnStr" connectionString="Data Source=(localdb)\DocuVault;Initial Catalog=DocuVault;Integrated Security=True"/>
    </connectionStrings>
</configuration>
